/* Estilos globais para centralizar todo o conteúdo */
body,
html{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mudando o fundo de tela */
  background-image: url(fundo.png);
  font-family: Helvetica;
  text-align: center;
}

body{
  background: rgba(255, 255, 255, 0);
}


/* Melhoria: mudança de cor */
.square {
  width: 100px;
  height: 100px;
  background-color: #E7BFBF;
  border: 1px solid #B65E2C;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

/* Estilo para o vencedor */
.winner{
  background-color: #D49174;
}
/* Melhoria: aparecer também o rosa  */
.draw{
  background-color: #E7BFBF;
}

/* Estilo para o status do jogo */
.status{
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
  color: #333;
}

/* Estilo para o botão de reiniciar */
.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #D49174;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para o botão bde reiniciar no hover */
.reset-button:hover {
  background-color: #E7BFBF;
}

/* MELHORIA: MUDANÇA DE COR */
/* cor da palavra "jogo da velha" */
.App h1 {
  color: #B65E2C;
}
